<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/features/">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>



<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/" style="color: #00AD9C; font-family: 'Arial Black'; ">Hisense Logistics
            Verification System</a>

        <div class="collapse navbar-collapse mx-5" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-5">
                <li class="nav-item mx-5">
                    <a class="nav-link active" aria-current="page" href="/">Upload Files</a>
                </li>
                <li class="nav-item mx-5">
                    <a class="nav-link active" href="/result">Download Result</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

{% block body %}
{% endblock %}

</body>
</html>